/* PHASE 1: Header */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: auto;
    font-size: auto;
}

.header {
    background-color: red;
}

.header-nav {

}

.header-logo {

}

.header-list {
    
}